body
{
	text-align: center;
}

.container
{
	display: none;
	border: 2px solid #000;
}

.container label
{
	display: block;
}

.container input[type="button"], .container input[type="submit"]
{
	font-size: 20px;
	width: 200px;
	cursor: pointer;
}

.container input[type="text"], .container input[type="password"], .container select
{
	width: 250px;
}

.container .labelText
{
	display: inline-block;
	width: 150px;
	text-align: right;
}

#metaverse input[type="button"], #universe input[type="button"], #universe input[type="submit"]
{
	width: 250px;
}