body
{
	/*text-align: center;*/
}

#menuContainer
{
	text-align: center;
	display: inline-block;
	border: 2px solid #000;
	width: 100%;
}

#menuContainer input[type="button"], #menuContainer input[type="submit"]
{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 6em;
	font-size: 20px;
	width: 200px;
	cursor: pointer;
}

#menuContainer input[type="text"], #menuContainer input[type="password"], #menuContainer select
{
	width: 250px;
}

#menuContainer .labelText
{
	display: inline-block;
	width: 175px;
	text-align: right;
}

#menuContainer label
{
	display: block;
}
/*
#menuContainer select
{
	width: 450px;
}
*/
/*
.container .labelText
{
	display: inline-block;
	width: 150px;
	text-align: right;
}

.itemContainer
{
	display: none;
	border: 2px solid #000;
}

#metaverseLibraryItems select
{
	width: 450px;
}
*/